.writingHead {
    font-size: 25px;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 24px;
}

.writingList .writingCell {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.link:hover {
    color: #888888;
}

.issue__img {
    margin-bottom: 15px;
}

.issue {
    margin-top: 20px;
}