.writing__head {
    font-size: 28px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 24px;
}

.writing__list .writing__cell {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.link:hover {
    color: #888888;
}

.issue__img {
    margin-bottom: 15px;
    width: 100%;
    aspect-ratio: 11/17;
    object-fit: cover;
    max-width: 564px;
}

.issue {
    margin-top: 20px;
}

.issue__grid {
    display: grid;
    gap: .5rem;
    grid-template-columns:
        repeat(auto-fit, minmax(15rem, 1fr));
}

.issue__title {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #e6e6e6;
    margin-bottom: 5px;
}

.issue__description {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e6e6e6;
    margin-bottom: 5px;
}


.issue__head {
    font-size: 28px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 8px;
}

